body {
	font-family: Roboto;
	background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background: #CC4C57;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1.5px;
}

#container {
	background: #f7f7f7;
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

span {
	background: #463737;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #463737;
}

li:nth-child(2n) {
	background: #f7f7f7;
}


input {
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #CC4C57;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: white;
	border: 3px solid #CC4C57;
	outline: none;
}

.fa-plus {
	float: right;
}

.completed {
	color: #584B4B;
	text-decoration: line-through;
}